.home {
  background-color: rgb(13, 20, 33);
  height: 100vh;
  width: 100%;
}

.title {
  font-size: 2rem;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 24px;
  color: #aaa;
}

.opacityText {
  opacity: 0.5;
}

section {
  font-size: 2rem;
  color: #f2f5fd;
  padding-bottom: 1.2rem;
}

.links {
  font-size: 1.5rem;
}

.links > * + * {
  margin-left: 30px;
}

.faded {
  opacity: 0.5;
}
.social-link {
  color: #f2f5fd;
  opacity: 0.6;
  transition: 0.3s opacity;
}

.social-link:hover {
  opacity: 1;
}

.highlight {
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
}
