.fillsContainerArea {
  height: 100%;
  width: 100%;
}

.spaceBlueBackground {
  background-color: rgb(13, 20, 33);
}

.opacityText {
  opacity: 0.5;
}

section {
  font-size: 2rem;
  color: #f2f5fd;
  padding-bottom: 1.2rem;
}

.faded {
  opacity: 0.5;
}

.highlight {
  display: inline-block;
}

.clickable {
  cursor: pointer;
}
