.home {
  background-color: rgb(13, 20, 33);
  height: 100vh;
  width: 100%;
}

.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 24px;
  word-wrap: break-word;
}

.subtitle {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 24px;
  color: #aaa;
}

.opacityText {
  opacity: 0.5;
}

section {
  font-size: 2rem;
  color: #f2f5fd;
  padding-bottom: 1.2rem;
}

.faded {
  opacity: 0.5;
}

.highlight {
  display: inline-block;
}

clickable {
  cursor: pointer;
}
